@require 'nib'
global-reset()

@require 'clearfix'
@require 'varible'
@require 'mixins'

*,
*:before,
*:after
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    outline none

body
	///* let`s go! */
